.place__website__link {
    font-family: "Inter", Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity .4s ease-in-out;
}

.place__website__link:hover {
    opacity: 0.8;
}