@import url(./__logo/header__logo.css);
@import url(./__language-list/header__language-list.css);
@import url(./__language-list-item/header__language-list-item.css);
@import url(./__language-link/header__language-link.css);
@import url(./__language-link/_active/header__language-link_active.css);


.header {
    padding-top: 34px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:320px) {
    .header {
        padding-top: 20px;
    }
}