.place__paragraph-container {
    max-width: 456px;
    padding-left: 40px;
    padding-top: 48px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph-container {
        padding-left: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph-container {
        max-width: 352px;
        padding-left: 28px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph-container {
        padding: 32px 16px 0;
    }
}