.cover__overlay {
    background: #2A2C2F;
    opacity: 0.3;
    width: 1184px;
    min-height: 720px;
    top: 0;
    position: absolute;
    z-index: 2;
    transition: opacity .4s ease-in-out;
}

.cover__overlay:hover {
    opacity: .8;
}